/**
 * Demo Styles
 */

 html {
    height: 100%;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
  }

  @font-face{
    font-family: myFont;
    src: url(../fonts/Gabton-Malgora.otf)
}

.navbar-brand{
    font-family: myFont;
    font-size: 55px !important; 
}


@media screen and (max-width: 600px) {
    .navbar-brand{
        font-size: 20px !important;
    }
}

.container-fluid:nth-child(1){
    width: 90%;
    margin: auto;
}

.nav-item{
    font-weight: bold;
    font-size: 20px;
}

/* index */

h1{
    text-align: center;
    font-weight: bold !important;
    padding-top: 50px;
    padding-bottom: 20px;
}

.grazina-bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: fixed;
    width: 50%;
    height: 500px;
    left: 0;
}

@media screen and (max-width: 768px) {
    .grazina-bg{
        width: 100%;
        position: unset !important;
    }
}

@media (min-width: 768px) { 
    .grazina-bg{
        height: 100%;
        background-position: center center;
    }
}


.bio{
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.bio h4{
    margin-top: 30px !important;
    text-align: center;
}

/* filmografija */

.movies{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

/* knygos */

.book img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.book p{
    text-align: center;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.book{
    margin-bottom: 40px;
}
  

p a,
.bookstore-link h6 a{
    text-decoration: none;
    color: #8c8c8c;
}

p a:hover,
.bookstore-link h6 a:hover{
    color: black;
}


/* knyga-Sarunas-Bartas */
/* knyga-Gyvenimas-kaip-teatras */
/* knyga-Rimas-Tuminas */

.fa-circle-chevron-left{
    font-size: 25px;
}

.back-button i, h5{
    display: inline-block;
}

.back-button{
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #8c8c8c; 
}

.back-button:hover{
    color: black;
}

a:link{
    text-decoration: none;
}

.back-button h5{
    font-weight: bold;
}

.intro{
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;  
}

.book-launch h6{
    text-align: center;
    margin: auto 20px;
}  

.bookstore-link{
    margin: auto 20px;
}

.bookstore-link h6{
    text-align: center;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
  }
  
  .modal-content {
    margin: auto;
    padding-top: 30px;
    height: 100%;   
    background-color: rgba(0,0,0,0.9) !important; 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #aaaaaa;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }


/* reklamos */

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    margin-bottom: 20px;
  }

  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .commercials{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;  
  }

  .comm-images{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .comm-images img{
    margin-bottom: 30px;
  }

  .commercial h5{
      margin-top: 20px;
      margin-bottom: 20px;
  }


  /* kontaktai */

  .contacts{
      text-align: center;
      margin: 30px;
  }

  .contact{
      width: 250px;
      margin: auto;
      margin-bottom: 30px;
      border: 1px solid black;
      padding: 10px;
      border-radius: 5px;
  }

  .fa-envelope, .fa-facebook{
      font-size: 40px;
  }

  .contact a{
    color: #8c8c8c;
  } 

  .contact a:hover{
      color: black;
  }


  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1rem;
    background-color: #000;
    color: #fff;
    text-align: center;
    width: 50%;
    right: 0;
  }